<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="in.iamkelv.balances"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="DATABASE"
            android:value="balances.db"/>
        <meta-data
            android:name="VERSION"
            android:value="1"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="in.iamkelv.balances.models"/>

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SetupWelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.SetupIntroductionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.SetupAccountActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".activities.SetupNotificationsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.SetupCompleteActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
